@import "./vendors/reset";
@import "./utils/variables";

html {
  font-size: 14px;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  color: $secondary-color;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  max-width: 400px;
  width: 100%;
}

h1 {
  font-family: "Sigmar", cursive;
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
  color: $primary-color;
}

form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  font-size: 1rem;
  margin-right: 8px;
}

input[type="text"] {
  flex: 1;
  font-size: 1rem;
  padding: 6px;
  border: none;
  border-bottom: 2px solid $secondary-color;
}

button[type="submit"] {
  background-color: $primary-color;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: darken($primary-color, 10%);
}

ul {
  list-style: none;
  margin-bottom: 15px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

li input[type="checkbox"] {
  margin-right: 8px;
}

li label {
  font-size: 1rem;
  flex: 1;
}

li button {
  background-color: $secondary-color;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

li button:hover {
  background-color: darken($secondary-color, 10%);
}

ul .completed {
  text-decoration: line-through;
}

#removeBtn {
  background-color: $secondary-color;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#removeBtn:hover {
  background-color: darken($secondary-color, 10%);
}
